[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
numpy = "*"
django = "==3.0a1"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"
lxml = "*"
selenium = "*"
pillow = "*"

[requires]
python_version = "3.7"
